In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/sample_submission.csv
/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/X_test.csv
/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/y_train.csv
/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/X_train.csv

In [2]:
set1=pd.read_csv("/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/X_train.csv")
set2=pd.read_csv("/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/y_train.csv")

In [3]:
set1

,date,home_team,away_team,tournament,city,country,neutral
0,2001-03-11,Botswana,Mozambique,Friendly,Maseru,Lesotho,True
1,1982-06-22,Russia,Scotland,FIFA World Cup,Málaga,Spain,True
2,1987-07-27,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,False
3,2011-09-02,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,False
4,1998-11-18,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,False
...,...,...,...,...,...,...,...
41655,1997-01-12,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,False
41656,2023-10-16,Mozambique,Nigeria,Friendly,Albufeira,Portugal,True
41657,2019-11-14,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,False
41658,2021-06-15,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,False
41659,1946-05-30,Belgium,Netherlands,Friendly,Antwerp,Belgium,False

In [4]:
set2

       result
0           1
1           0
2           0
3           1
4           0
...       ...
41655       1
41656       1
41657       2
41658       2
41659       0

[41660 rows x 1 columns]

In [5]:
import pandas as pd

# Assuming x_labels and y_label are your two datasets
train_set = pd.concat([set1, set2], axis=1)

In [6]:
train_set

,date,home_team,away_team,tournament,city,country,neutral,result
0,2001-03-11,Botswana,Mozambique,Friendly,Maseru,Lesotho,True,1
1,1982-06-22,Russia,Scotland,FIFA World Cup,Málaga,Spain,True,0
2,1987-07-27,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,False,0
3,2011-09-02,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,False,1
4,1998-11-18,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,False,0
...,...,...,...,...,...,...,...,...
41655,1997-01-12,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,False,1
41656,2023-10-16,Mozambique,Nigeria,Friendly,Albufeira,Portugal,True,1
41657,2019-11-14,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,False,2
41658,2021-06-15,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,False,2
41659,1946-05-30,Belgium,Netherlands,Friendly,Antwerp,Belgium,False,0

In [7]:
train_set.nunique()

date          15184
home_team       327
away_team       320
tournament      161
city           2014
country         271
neutral           2
result            3
dtype: int64

In [8]:
train_set.isnull().sum()

date          0
home_team     0
away_team     0
tournament    0
city          0
country       0
neutral       0
result        0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
train_set['neutral'] = label_encoder.fit_transform(train_set['neutral'])

In [10]:
train_set

,date,home_team,away_team,tournament,city,country,neutral,result
0,2001-03-11,Botswana,Mozambique,Friendly,Maseru,Lesotho,1,1
1,1982-06-22,Russia,Scotland,FIFA World Cup,Málaga,Spain,1,0
2,1987-07-27,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,0,0
3,2011-09-02,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,0,1
4,1998-11-18,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,0,0
...,...,...,...,...,...,...,...,...
41655,1997-01-12,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,0,1
41656,2023-10-16,Mozambique,Nigeria,Friendly,Albufeira,Portugal,1,1
41657,2019-11-14,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,0,2
41658,2021-06-15,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,0,2
41659,1946-05-30,Belgium,Netherlands,Friendly,Antwerp,Belgium,0,0

In [11]:
train_set.dtypes

date          object
home_team     object
away_team     object
tournament    object
city          object
country       object
neutral        int64
result         int64
dtype: object

In [12]:
train_set['year'] = pd.to_datetime(train_set['date']).dt.year
train_set['month'] = pd.to_datetime(train_set['date']).dt.month
train_set['day_of_week'] = pd.to_datetime(train_set['date']).dt.dayofweek

In [13]:
train_set

,date,home_team,away_team,tournament,city,country,neutral,result,year,month,day_of_week
0,2001-03-11,Botswana,Mozambique,Friendly,Maseru,Lesotho,1,1,2001,3,6
1,1982-06-22,Russia,Scotland,FIFA World Cup,Málaga,Spain,1,0,1982,6,1
2,1987-07-27,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,0,0,1987,7,0
3,2011-09-02,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,0,1,2011,9,4
4,1998-11-18,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,0,0,1998,11,2
...,...,...,...,...,...,...,...,...,...,...,...
41655,1997-01-12,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,0,1,1997,1,6
41656,2023-10-16,Mozambique,Nigeria,Friendly,Albufeira,Portugal,1,1,2023,10,0
41657,2019-11-14,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,0,2,2019,11,3
41658,2021-06-15,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,0,2,2021,6,1
41659,1946-05-30,Belgium,Netherlands,Friendly,Antwerp,Belgium,0,0,1946,5,3

In [14]:
import pandas as pd

# Assuming 'train_set' is your DataFrame containing the 'year' column

# Define the bins and labels for each category
bins = [0, 1950, 2000, train_set['year'].max() + 1]  # +1 to include the last year
labels = ['Before 1950', '1950-2000', 'After 2000']

# Create a new column 'year_category' based on the 'year' column
train_set['year_category'] = pd.cut(train_set['year'], bins=bins, labels=labels, right=False)

# Drop the original 'year' column if needed
# train_set.drop(columns=['year'], inplace=True)

# Display the DataFrame with the new column
print(train_set)

             date              home_team    away_team  \
0      2001-03-11               Botswana   Mozambique
1      1982-06-22                 Russia     Scotland
2      1987-07-27  São Tomé and Príncipe       Angola
3      2011-09-02                Grenada       Belize
4      1998-11-18             Luxembourg      Belgium
...           ...                    ...          ...
41655  1997-01-12              Venezuela     Paraguay
41656  2023-10-16             Mozambique      Nigeria
41657  2019-11-14         Czech Republic       Kosovo
41658  2021-06-15                 Kuwait       Taiwan
41659  1946-05-30                Belgium  Netherlands

                         tournament          city                country  \
0                          Friendly        Maseru                Lesotho
1                    FIFA World Cup        Málaga                  Spain
2                          Friendly      São Tomé  São Tomé and Príncipe
3      FIFA World Cup qualification  St. George's                Grenada
4                          Friendly    Luxembourg             Luxembourg
...                             ...           ...                    ...
41655  FIFA World Cup qualification        Mérida              Venezuela
41656                      Friendly     Albufeira               Portugal
41657       UEFA Euro qualification         Plzeň         Czech Republic
41658  FIFA World Cup qualification   Kuwait City                 Kuwait
41659                      Friendly       Antwerp                Belgium

       neutral  result  year  month  day_of_week year_category
0            1       1  2001      3            6    After 2000
1            1       0  1982      6            1     1950-2000
2            0       0  1987      7            0     1950-2000
3            0       1  2011      9            4    After 2000
4            0       0  1998     11            2     1950-2000
...        ...     ...   ...    ...          ...           ...
41655        0       1  1997      1            6     1950-2000
41656        1       1  2023     10            0    After 2000
41657        0       2  2019     11            3    After 2000
41658        0       2  2021      6            1    After 2000
41659        0       0  1946      5            3   Before 1950

[41660 rows x 12 columns]

In [15]:
# Assuming 'date_column' is the column you want to drop
train_set.drop(columns=['date'], inplace=True)

In [16]:
train_set

,home_team,away_team,tournament,city,country,neutral,result,year,month,day_of_week,year_category
0,Botswana,Mozambique,Friendly,Maseru,Lesotho,1,1,2001,3,6,After 2000
1,Russia,Scotland,FIFA World Cup,Málaga,Spain,1,0,1982,6,1,1950-2000
2,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,0,0,1987,7,0,1950-2000
3,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,0,1,2011,9,4,After 2000
4,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,0,0,1998,11,2,1950-2000
...,...,...,...,...,...,...,...,...,...,...,...
41655,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,0,1,1997,1,6,1950-2000
41656,Mozambique,Nigeria,Friendly,Albufeira,Portugal,1,1,2023,10,0,After 2000
41657,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,0,2,2019,11,3,After 2000
41658,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,0,2,2021,6,1,After 2000
41659,Belgium,Netherlands,Friendly,Antwerp,Belgium,0,0,1946,5,3,Before 1950

In [17]:
# Assuming 'results' is the column you want to move
cols = list(train_set.columns)
cols.append(cols.pop(cols.index('result')))
train_set = train_set[cols]

In [18]:
train_set.columns[0:9]

Index(['home_team', 'away_team', 'tournament', 'city', 'country', 'neutral',
       'year', 'month', 'day_of_week'],
      dtype='object')

In [19]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
categorical_columns = train_set.columns[0:9]

train_set[categorical_columns] = train_set[categorical_columns].apply(lambda col: label_encoder.fit_transform(col))

In [20]:
train_set

,home_team,away_team,tournament,city,country,neutral,year,month,day_of_week,year_category,result
0,36,187,78,1091,129,1,128,2,6,After 2000,1
1,232,242,74,1187,224,1,109,5,1,1950-2000,0
2,278,9,78,1748,232,0,114,6,0,1950-2000,0
3,115,29,75,1694,93,0,138,8,4,After 2000,1
4,163,28,78,1023,134,0,125,10,2,1950-2000,0
...,...,...,...,...,...,...,...,...,...,...,...
41655,306,213,75,1188,256,0,124,0,6,1950-2000,1
41656,189,196,78,50,188,1,150,9,0,After 2000,1
41657,73,149,147,1380,58,0,146,10,3,After 2000,2
41658,151,273,75,914,123,0,148,5,1,After 2000,2
41659,27,191,78,88,20,0,73,4,3,Before 1950,0

In [21]:
train_set.nunique()

home_team         327
away_team         320
tournament        161
city             2014
country           271
neutral             2
year              152
month              12
day_of_week         7
year_category       3
result              3
dtype: int64

In [22]:
train_set[categorical_columns] = (train_set[categorical_columns] - train_set[categorical_columns].min()) / (train_set[categorical_columns].max() - train_set[categorical_columns].min())

In [23]:
train_set

,home_team,away_team,tournament,city,country,neutral,year,month,day_of_week,year_category,result
0,0.110429,0.586207,0.48750,0.541977,0.477778,1.0,0.847682,0.181818,1.000000,After 2000,1
1,0.711656,0.758621,0.46250,0.589667,0.829630,1.0,0.721854,0.454545,0.166667,1950-2000,0
2,0.852761,0.028213,0.48750,0.868356,0.859259,0.0,0.754967,0.545455,0.000000,1950-2000,0
3,0.352761,0.090909,0.46875,0.841530,0.344444,0.0,0.913907,0.727273,0.666667,After 2000,1
4,0.500000,0.087774,0.48750,0.508197,0.496296,0.0,0.827815,0.909091,0.333333,1950-2000,0
...,...,...,...,...,...,...,...,...,...,...,...
41655,0.938650,0.667712,0.46875,0.590164,0.948148,0.0,0.821192,0.000000,1.000000,1950-2000,1
41656,0.579755,0.614420,0.48750,0.024839,0.696296,1.0,0.993377,0.818182,0.000000,After 2000,1
41657,0.223926,0.467085,0.91875,0.685544,0.214815,0.0,0.966887,0.909091,0.500000,After 2000,2
41658,0.463190,0.855799,0.46875,0.454049,0.455556,0.0,0.980132,0.454545,0.166667,After 2000,2
41659,0.082822,0.598746,0.48750,0.043716,0.074074,0.0,0.483444,0.363636,0.500000,Before 1950,0

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from bayes_opt import BayesianOptimization
from sklearn.preprocessing import LabelEncoder

# Assuming 'train_set' is your DataFrame containing the 'year_category' column

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode the 'year_category' column
train_set['year_category'] = label_encoder.fit_transform(train_set['year_category'])

# Define categorical columns
categorical_cols = ['year_category']  # Adjust as per your categorical columns

# Define numeric columns (excluding the target column)
numeric_cols = [col for col in train_set.columns if col not in ['result'] + categorical_cols]

# Separate features (X) and target (y)
X = train_set.drop(['result'], axis=1)  # Features
y = train_set['result']  # Target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define objective function for Bayesian optimization
def rf_cv(n_estimators, max_depth, min_samples_split, min_samples_leaf):
    # Convert parameters to int
    n_estimators = int(n_estimators)
    max_depth = int(max_depth)
    min_samples_split = int(min_samples_split)
    min_samples_leaf = int(min_samples_leaf)
    
    # Initialize the Random Forest classifier
    rf_classifier = RandomForestClassifier(n_estimators=n_estimators, max_depth=max_depth,
                                            min_samples_split=min_samples_split,
                                            min_samples_leaf=min_samples_leaf,
                                            random_state=42)
    
    # Train the Random Forest model
    rf_classifier.fit(X_train, y_train)
    
    # Make predictions on the test data
    y_pred = rf_classifier.predict(X_test)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred)
    
    return accuracy

# Define parameter ranges for Bayesian optimization
pbounds = {'n_estimators': (100, 500),
           'max_depth': (3, 10),
           'min_samples_split': (2, 10),
           'min_samples_leaf': (1, 5)}

# Initialize BayesianOptimization
optimizer = BayesianOptimization(f=rf_cv, pbounds=pbounds, random_state=42)

# Perform Bayesian optimization
optimizer.maximize(init_points=5, n_iter=10)

# Get the best parameters and best score
best_params = optimizer.max['params']
best_score = optimizer.max['target']
print("Best Parameters:", best_params)
print("Best Score:", best_score)

|   iter    |  target   | max_depth | min_sa... | min_sa... | n_esti... |
-------------------------------------------------------------------------
| 1         | 0.4868    | 5.622     | 4.803     | 7.856     | 339.5     |
| 2         | 0.4862    | 4.092     | 1.624     | 2.465     | 446.5     |
| 3         | 0.4909    | 7.208     | 3.832     | 2.165     | 488.0     |
| 4         | 0.496     | 8.827     | 1.849     | 3.455     | 173.4     |
| 5         | 0.4872    | 5.13      | 3.099     | 5.456     | 216.5     |
| 6         | 0.4912    | 7.837     | 2.087     | 3.525     | 173.9     |
| 7         | 0.4969    | 8.414     | 2.447     | 4.084     | 173.1     |
| 8         | 0.4958    | 8.582     | 1.782     | 3.63      | 172.4     |
| 9         | 0.5016    | 9.459     | 3.31      | 4.983     | 173.2     |
| 10        | 0.5025    | 10.0      | 1.821     | 6.324     | 172.9     |
| 11        | 0.5012    | 9.833     | 3.914     | 7.994     | 172.8     |
| 12        | 0.505     | 10.0      | 3.663     | 6.593     | 169.5     |
| 13        | 0.506     | 10.0      | 1.474     | 9.298     | 168.4     |
| 14        | 0.5029    | 10.0      | 4.76      | 9.518     | 165.9     |
| 15        | 0.487     | 5.929     | 2.377     | 10.0      | 167.5     |
=========================================================================
Best Parameters: {'max_depth': 10.0, 'min_samples_leaf': 1.473927915136735, 'min_samples_split': 9.298065007428114, 'n_estimators': 168.38788154121315}
Best Score: 0.5060009601536246

In [25]:
best_params

{'max_depth': 10.0,
 'min_samples_leaf': 1.473927915136735,
 'min_samples_split': 9.298065007428114,
 'n_estimators': 168.38788154121315}

In [26]:
train_set=pd.read_csv("/kaggle/input/gdsc-vashisht-ml-hackathon-open-for-all/X_train.csv")

In [27]:
train_set

,date,home_team,away_team,tournament,city,country,neutral
0,2001-03-11,Botswana,Mozambique,Friendly,Maseru,Lesotho,True
1,1982-06-22,Russia,Scotland,FIFA World Cup,Málaga,Spain,True
2,1987-07-27,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,False
3,2011-09-02,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,False
4,1998-11-18,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,False
...,...,...,...,...,...,...,...
41655,1997-01-12,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,False
41656,2023-10-16,Mozambique,Nigeria,Friendly,Albufeira,Portugal,True
41657,2019-11-14,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,False
41658,2021-06-15,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,False
41659,1946-05-30,Belgium,Netherlands,Friendly,Antwerp,Belgium,False

In [28]:
train_set.isnull().sum()

date          0
home_team     0
away_team     0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [29]:
train_set.dtypes

date          object
home_team     object
away_team     object
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [30]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
train_set['neutral'] = label_encoder.fit_transform(train_set['neutral'])

In [31]:
train_set.dtypes

date          object
home_team     object
away_team     object
tournament    object
city          object
country       object
neutral        int64
dtype: object

In [32]:
train_set['year'] = pd.to_datetime(train_set['date']).dt.year
train_set['month'] = pd.to_datetime(train_set['date']).dt.month
train_set['day_of_week'] = pd.to_datetime(train_set['date']).dt.dayofweek

In [33]:
train_set.drop(columns=['date'], inplace=True)

In [34]:
train_set

,home_team,away_team,tournament,city,country,neutral,year,month,day_of_week
0,Botswana,Mozambique,Friendly,Maseru,Lesotho,1,2001,3,6
1,Russia,Scotland,FIFA World Cup,Málaga,Spain,1,1982,6,1
2,São Tomé and Príncipe,Angola,Friendly,São Tomé,São Tomé and Príncipe,0,1987,7,0
3,Grenada,Belize,FIFA World Cup qualification,St. George's,Grenada,0,2011,9,4
4,Luxembourg,Belgium,Friendly,Luxembourg,Luxembourg,0,1998,11,2
...,...,...,...,...,...,...,...,...,...
41655,Venezuela,Paraguay,FIFA World Cup qualification,Mérida,Venezuela,0,1997,1,6
41656,Mozambique,Nigeria,Friendly,Albufeira,Portugal,1,2023,10,0
41657,Czech Republic,Kosovo,UEFA Euro qualification,Plzeň,Czech Republic,0,2019,11,3
41658,Kuwait,Taiwan,FIFA World Cup qualification,Kuwait City,Kuwait,0,2021,6,1
41659,Belgium,Netherlands,Friendly,Antwerp,Belgium,0,1946,5,3